<!DOCTYPE html>
<html lang="zh-cn">
<head>
<title>拾光 - 运营统计</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- https://stackoverflow.com/questions/66935329/use-inline-svg-as-favicon -->
<link rel="icon" type="image/svg+xml" sizes="any" href="data:image/svg+xml,
%3Csvg t='1639794074096' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='3569' width='32' height='32' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cstyle type='text/css'%3E%3C/style%3E%3C/defs%3E%3Cpath
d='M383.32864583 343.25c0 134.6203125 109.125 243.759375 243.7453125 243.759375C761.70833333 587.009375 870.83333333 477.8703125 870.83333333 343.25S761.70833333 99.5046875 627.07395833 99.5046875c-134.60625 0-243.7453125 109.125-243.7453125 243.7453125z' fill='%23706EE7' p-id='3570'%3E%3C/path%3E%3Cpath
d='M120.83802083 680.75c0 93.1921875 75.5578125 168.75 168.75 168.75s168.75-75.5578125 168.75-168.75-75.5578125-168.75-168.75-168.75-168.75 75.5578125-168.75 168.75z' fill='%2329C287' p-id='3571'%3E%3C/path%3E%3Cpath d='M608.34270833 737a112.5 112.5 0 1 0 225 0 112.5 112.5 0 0 0-225 0z' fill='%23FFC107' p-id='3572'%3E%3C/path%3E%3C/svg%3E">
<!-- <link rel="icon" href="data:image/png;base64,..."> -->
<style type="text/css">
body {
  max-width: 40rem;
  margin: auto;
  font-family: sans-serif;
  padding: 0 1rem;
}
p.debug {
  font-size: 0.8rem;
  color: #88666666;
}
p.copyright {
  color: #666;
}
@media screen and (max-width: 40rem) {
  #div_beat {
    width: 100%;
    height: auto;
    aspect-ratio: 1.3;
  }
  #div_launch {
    width: 100%;
    height: auto;
    aspect-ratio: 1.2;
  }
  #div_fan {
    width: 100%;
    height: auto;
    aspect-ratio: 1.4;
  }
  #div_src {
    width: 100%;
    height: auto;
    aspect-ratio: 1.7;
  }
  #div_api {
    width: 100%;
    height: auto;
    aspect-ratio: 0.7;
  }
  #div_ver {
    width: 100%;
    height: auto;
    aspect-ratio: 1.7;
  }
  #div_os {
    width: 100%;
    height: auto;
    aspect-ratio: 1.7;
  }
}
@media screen and (min-width: 40rem) {
  #div_beat {
    width: 100%;
    height: auto;
    aspect-ratio: 1.6;
  }
  #div_launch {
    width: 100%;
    height: auto;
    aspect-ratio: 1.4;
  }
  #div_fan {
    width: 100%;
    height: auto;
    aspect-ratio: 1.6;
  }
  #div_api {
    width: 100%;
    height: auto;
    aspect-ratio: 1.2;
  }
  #div_ver {
    width: 100%;
    height: auto;
    aspect-ratio: 2.5;
  }
  #div_src {
    width: 100%;
    height: auto;
    aspect-ratio: 2.5;
  }
  #div_os {
    width: 100%;
    height: auto;
    aspect-ratio: 2.5;
  }
}
</style>
<!-- https://www.chartjs.org/docs/latest/samples -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
</head>
<body>
<h1>拾光 for Windows 11</h1>
<q>岁月如歌，时光如诗。拾光，每日一景</q>
<h2>1 小时活跃</h2>
<div id="div_beat">
  <canvas id="chart_beat"></canvas>
</div>
<h2>2 日活跃</h2>
<div id="div_launch">
  <canvas id="chart_launch"></canvas>
</div>
<h2>3 用户</h2>
<div id="div_fan">
  <canvas id="chart_fan"></canvas>
</div>
<h2>4 图源</h2>
<div id="div_api">
  <canvas id="chart_api"></canvas>
</div>
<h2>5 版本</h2>
<div id="div_ver">
  <canvas id="chart_ver"></canvas>
</div>
<h2>6 分发</h2>
<div id="div_src">
  <canvas id="chart_src"></canvas>
</div>
<h2>7 系统</h2>
<div id="div_os">
  <canvas id="chart_os"></canvas>
</div>
<br />
<p class="debug"><em>debug: {{debug}} | chart.js 3.6.2</em></p>
<p class="copyright"><em>Copyright © 2021 nguaduot. All rights reserved.</em></p>
<div id="flask_beat" data-flask="{{beat}}" style="display:none"></div>
<div id="flask_user" data-flask="{{user}}" style="display:none"></div>
<div id="flask_fan" data-flask="{{fan}}" style="display:none"></div>
<div id="flask_api" data-flask="{{api}}" style="display:none"></div>
<div id="flask_ver" data-flask="{{ver}}" style="display:none"></div>
<div id="flask_src" data-flask="{{src}}" style="display:none"></div>
<div id="flask_os" data-flask="{{os}}" style="display:none"></div>
<script>
  const CHART_COLORS = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
  };

  renderChartBeat();
  renderChartLaunch();
  renderChartFan();
  renderChartApi();
  renderChartVer();
  renderChartSrc();
  renderChartOs();

  function renderChartBeat() {
    var ctx = document.getElementById("chart_beat");
    var data_flask = eval("(" + document.getElementById("flask_beat").getAttribute("data-flask") + ")");
    var options = {};
    var chartLaunch = new Chart(ctx, {
      type: "line",
      data: {
        labels: data_flask["label"],
        datasets: [{
          label: "启动数",
          data: data_flask["data1"],
          borderColor: CHART_COLORS.blue,
          borderWidth: 1,
          radius: 0
        }, {
          label: "用户数",
          data: data_flask["data2"],
          borderColor: CHART_COLORS.red,
          borderWidth: 1,
          radius: 0
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        interaction: {
          mode: "index",
          intersect: false
        },
        plugins: {
          legend: false,
          tooltip: {
            enabled: true,
            callbacks: {
              label: function(context) {
                let label = context.dataset.label || "";
                if (label) {
                  label += "：";
                }
                if (context.parsed.y !== null) {
                  label += Math.abs(context.parsed.y);
                }
                return label;
              }
            }
          }
        },
        scales: {
          x: {
            grid: {
              display: true
            },
            ticks: {
              display: true,
              callback: function(value, index) {
                let v = this.getLabelForValue(value);
                let span = new Date() - new Date(new Date().getFullYear() + "/" + v);
                return span >= 0 && span < 60 * 60 * 1000 ? v : null;
              }
            }
          },
          y: {
            grid: {
              display: false
            },
            ticks: {
              display: true,
              callback: v => Math.abs(v)
            }
          }
        },
        animations: {
          radius: {
            duration: 400,
            easing: 'linear',
            loop: (context) => context.active
          }
        },
        hoverRadius: 8,
        hoverBackgroundColor: CHART_COLORS.red
      }
    });
  }

  function renderChartLaunch() {
    var ctx = document.getElementById("chart_launch");
    var data_flask = eval("(" + document.getElementById("flask_user").getAttribute("data-flask") + ")");
    var options = {};
    var chartLaunch = new Chart(ctx, {
      type: "bar",
      data: {
        labels: data_flask["label"],
        datasets: [{
          type: "line",
          label: "用户数",
          data: data_flask["data2"],
          borderColor: CHART_COLORS.red,
          backgroundColor: CHART_COLORS.red,
          pointStyle: "circle",
          pointRadius: 6
        }, {
          label: "启动数",
          data: data_flask["data1"],
          borderRadius: 6,
          backgroundColor: CHART_COLORS.blue
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        interaction: {
          mode: "index",
          intersect: false
        },
        plugins: {
          legend: true
        },
        scales: {
          x: {
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          },
          y: {
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          }
        }
      }
    });
  }

  function renderChartFan() {
    var ctx = document.getElementById("chart_fan");
    var data_flask = eval("(" + document.getElementById("flask_fan").getAttribute("data-flask") + ")");
    var options = {};
    var chartLaunch = new Chart(ctx, {
      type: "bar",
      data: {
        labels: data_flask["label"],
        datasets: [{
          label: "用户数",
          data: data_flask["data1"],
          borderRadius: 6,
          backgroundColor: CHART_COLORS.red
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        interaction: {
          mode: "dataset",
          intersect: false
        },
        plugins: {
          legend: false
        },
        scales: {
          x: {
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          },
          y: {
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          }
        }
      }
    });
  }

  function renderChartApi() {
    var ctx = document.getElementById("chart_api");
    var data_flask = eval("(" + document.getElementById("flask_api").getAttribute("data-flask") + ")");
    var options = {};
    var chartLaunch = new Chart(ctx, {
      type: "bar",
      data: {
        labels: data_flask["label"],
        datasets: [{
          label: "历史",
          data: data_flask["data1"],
          borderRadius: 6,
          backgroundColor: CHART_COLORS.grey,
          xAxisID: "x1"
        }, {
          label: "今日启动数",
          data: data_flask["data2"],
          borderRadius: 6,
          backgroundColor: CHART_COLORS.blue,
          xAxisID: "x2"
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        interaction: {
          intersect: false,
          mode: "dataset"
        },
        plugins: {
          legend: true
        },
        indexAxis: "y",
        scales: {
          x1: {
            type: "linear",
            display: true,
            position: "top",
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          },
          x2: {
            type: "linear",
            display: true,
            position: "bottom",
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          },
          y: {
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          }
        }
      }
    });
  }

  function renderChartVer() {
    var ctx = document.getElementById("chart_ver");
    var data_flask = eval("(" + document.getElementById("flask_ver").getAttribute("data-flask") + ")");
    var options = {};
    var chartLaunch = new Chart(ctx, {
      type: "bar",
      data: {
        labels: data_flask["label"],
        datasets: [{
          label: "历史",
          data: data_flask["data1"],
          borderRadius: 6,
          backgroundColor: CHART_COLORS.grey,
          xAxisID: "x1"
        }, {
          label: "今日启动数",
          data: data_flask["data2"],
          borderRadius: 6,
          backgroundColor: CHART_COLORS.blue,
          xAxisID: "x2"
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        interaction: {
          intersect: false,
          mode: "dataset"
        },
        plugins: {
          legend: true
        },
        indexAxis: "y",
        scales: {
          x1: {
            type: "linear",
            display: true,
            position: "top",
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          },
          x2: {
            type: "linear",
            display: true,
            position: "bottom",
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          },
          y: {
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          }
        }
      }
    });
  }

  function renderChartSrc() {
    var ctx = document.getElementById("chart_src");
    var data_flask = eval("(" + document.getElementById("flask_src").getAttribute("data-flask") + ")");
    var options = {};
    var chartLaunch = new Chart(ctx, {
      type: "bar",
      data: {
        labels: data_flask["label"],
        datasets: [{
          label: "历史",
          data: data_flask["data1"],
          borderRadius: 6,
          backgroundColor: CHART_COLORS.grey,
          xAxisID: "x1"
        }, {
          label: "今日启动数",
          data: data_flask["data2"],
          borderRadius: 6,
          backgroundColor: CHART_COLORS.blue,
          xAxisID: "x2"
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        interaction: {
          intersect: false,
          mode: "dataset"
        },
        plugins: {
          legend: true
        },
        indexAxis: "y",
        scales: {
          x1: {
            type: "linear",
            display: true,
            position: "top",
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          },
          x2: {
            type: "linear",
            display: true,
            position: "bottom",
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          },
          y: {
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          }
        }
      }
    });
  }

  function renderChartOs() {
    var ctx = document.getElementById("chart_os");
    var data_flask = eval("(" + document.getElementById("flask_os").getAttribute("data-flask") + ")");
    var options = {};
    var chartLaunch = new Chart(ctx, {
      type: "bar",
      data: {
        labels: data_flask["label"],
        datasets: [{
          label: "历史",
          data: data_flask["data1"],
          borderRadius: 6,
          backgroundColor: CHART_COLORS.grey,
          xAxisID: "x1"
        }, {
          label: "今日启动数",
          data: data_flask["data2"],
          borderRadius: 6,
          backgroundColor: CHART_COLORS.blue,
          xAxisID: "x2"
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        interaction: {
          intersect: false,
          mode: "dataset"
        },
        plugins: {
          legend: true
        },
        indexAxis: "y",
        scales: {
          x1: {
            type: "linear",
            display: true,
            position: "top",
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          },
          x2: {
            type: "linear",
            display: true,
            position: "bottom",
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          },
          y: {
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          }
        }
      }
    });
  }
</script>
</body>
</html>
